.hatch
.ruff_cache
venv
__pycache__
.python-version

apc.egg-info
apc-revived.egg-info
apcgui.egg-info
apcgui-revived.egg-info
build
dist

mods
backups
**/save_path.txt
imgui.ini

.DS_Store
.working
_sandbox
